nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  text-align: center;
}

nav .where {
  height: 50px;
  width: 100%;
  background-color: rgba(233, 229, 229, 0.678);
}

nav .swing {
  width: 100%;
  height: 300px;
  background-color: rgba(247, 244, 244, 0.932);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav .swing p {
  margin-top: unset;
  margin-bottom: 30px;
  max-width: 330px;
  font-weight: 400;
}

nav .swing h1 {
  margin-top: unset;
  max-width: 250px;
  font-weight: 700;
}

header {
  position: -webkit-sticky;
  position: sticky;
  height: 80px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
  -webkit-box-shadow: 0px 3px 8px gray;
          box-shadow: 0px 3px 8px gray;
}

header .logo {
  background-image: url("./images/logo/ohmyfood.png");
  background-repeat: no-repeat;
  background-size: 180px;
  background-position: center;
  height: 60px;
  width: 300px;
}

.return-Button {
  width: 100%;
  height: 100%;
  color: black;
}

.return-Button :checked {
  color: black;
}

aside {
  height: 400px;
}

.img_menu1 {
  background-image: url("./images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
  background-size: 600px;
}

.img_menu2 {
  background-image: url("./images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
  background-size: 600px;
}

.img_menu3 {
  background-image: url("./images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
  background-size: 600px;
}

.img_menu4 {
  background-image: url("./images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
  background-size: 600px;
}

section {
  background-color: #f7f4f4;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section .title_section {
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
}

.img {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background-size: 600px;
  background-repeat: no-repeat;
  height: 70%;
  width: 100%;
}

.box-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
  width: 90%;
}

.box-card h1 {
  font-size: 25px;
  margin-bottom: 0;
}

.box-card h2 {
  font-size: 13px;
  margin-bottom: 9px;
  margin-top: 5px;
}

.box-card .card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10px 0;
  height: 250px;
  background-color: white;
  border-radius: 30px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.box-card .card .img_1 {
  background-image: url("./images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
}

.box-card .card .img_2 {
  background-image: url("./images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
}

.box-card .card .img_3 {
  background-image: url("./images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
}

.box-card .card .img_4 {
  background-image: url("./images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
}

.box-card .card .img-txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: unset;
  -webkit-box-direction: unset;
      -ms-flex-direction: unset;
          flex-direction: unset;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px 0 0 10px;
  height: 50px;
  width: 100%;
}

.box-card .card .img-txt .title {
  width: 80%;
  text-align: left;
}

.box-card .card .img-txt p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.select-menu {
  margin-top: -100px;
  border-top-left-radius: 45px;
  border-top-right-radius: 45px;
}

.select-menu .select-menu_title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.select-menu .select-menu_title h1 {
  font-weight: 900;
  font-size: 38px;
  margin-left: -50px;
}

.select-menu div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.select-menu .btn_bottom {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 20px 0 50px 0;
  height: 50px;
}

.select-menu .enter {
  margin-left: 15px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.select-menu .enter .box-menu {
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
  background: white;
  border-radius: 25px;
  -webkit-box-shadow: 3px 4px 8px rgba(114, 114, 114, 0.479);
          box-shadow: 3px 4px 8px rgba(114, 114, 114, 0.479);
  width: 96%;
}

.select-menu .enter .box-menu .price-menu {
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.select-menu .enter .box-menu div {
  margin-left: 10px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.select-menu .enter .box-menu div h1 {
  font-size: 28px;
  margin-bottom: 0;
}

.select-menu .enter .box-menu div h2 {
  font-size: 22px;
  font-weight: 400;
}

.select-menu .enter .box-menu div p {
  font-size: 26px;
  font-weight: bold;
  margin: 0 15px 20px 0;
}

footer {
  background-color: #464646;
  width: 100%;
  height: 200px;
}

.container {
  max-width: 560px;
  width: 100%;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn {
  cursor: pointer;
  padding: 13px 20px;
  background: linear-gradient(160deg, #ff99ff, #9b4caf);
  border-radius: 50px;
  text-decoration: unset;
  color: white;
  font-size: 15px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  -webkit-transition: -webkit-transform 800ms;
  transition: -webkit-transform 800ms;
  transition: transform 800ms;
  transition: transform 800ms, -webkit-transform 800ms;
  -webkit-box-shadow: 2px 2px 5px gray;
          box-shadow: 2px 2px 5px gray;
  -webkit-transform: scale(1) translateY(0);
          transform: scale(1) translateY(0);
}

.btn:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.btn_sec {
  text-align: center;
  margin: 25px 0;
  background: #f0f0f0;
  color: black;
  border-radius: 20px;
  -webkit-transition: background-color 1s;
  transition: background-color 1s;
}

.btn_sec:hover {
  -webkit-transform: scale(1);
          transform: scale(1);
  background-color: pink;
}

.check_b {
  margin-left: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  color: #c7c5c5;
  font-size: 2em;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.check_b input {
  width: 50px;
  height: 50px;
  opacity: 0;
}

.check_b .checkbox {
  position: absolute;
}

.check_b span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  pointer-events: none;
}

.check_b input[type="checkbox"]:checked + span {
  background: -webkit-linear-gradient(50deg, #ff99ff, #9b4caf);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
/*# sourceMappingURL=style.css.map */