@import "./nav/nav.scss";
@import "./header/header.scss";
@import "./aside/aside.scss";
@import "./section/section.scss";
@import "./footer/footer.scss";

.container {
  max-width: 560px;
  width: 100%;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: white; /*mode nuit*/
  box-shadow: 0px 0px 300px 60px rgba(192, 192, 192, 0.377); /*mode nuit*/
}
html {
  scroll-behavior: smooth;
}
body {
  display: flex;
  justify-content: center;
  background: rgb(48, 47, 47); /*mode nuit*/
}
.btn {
  cursor: pointer;
  padding: 13px 20px;
  background: linear-gradient(160deg, $main-color, $secondary-color);
  border-radius: 50px;
  text-decoration: unset;
  color: rgb(255, 255, 255);
  font-size: 15px;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  font-weight: bold;
  transition: transform 800ms;
  box-shadow: 2px 2px 5px gray;
  transform: scale(1) translateY(0);
  &:hover {
    transform: scale(1.1);
  }
}
.btn_sec {
  text-align: center;
  margin: 25px 0;
  background: rgb(240, 240, 240);
  color: black;
  border-radius: 20px;
  transition: background-color 1s;
  &:hover {
    transform: scale(1);
    background-color: pink;
  }
}

.check_b {
  margin-left: 15px;
  display: flex;
  position: relative;
  color: rgb(199, 197, 197);
  font-size: 2em;
  justify-content: center;
  align-items: center;

  input {
    width: 50px;
    height: 50px;
    opacity: 0;
  }

  .checkbox {
    position: absolute;
  }

  span {
    display: flex;
    position: absolute;
    pointer-events: none;
  }

  input[type="checkbox"]:checked + span {
    background: -webkit-linear-gradient(50deg, #ff99ff, #9b4caf);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}
