@keyframes opa {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@mixin anim-base {
  opacity: 0;
  animation-name: opa;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.enter {
  .anim {
    @include anim-base;
    animation-delay: 300ms;
    color: gray;
    margin-left: 2%;
    border-bottom: solid;
    padding-bottom: 6px;
    border-bottom-color: #99e2d0;
    width: 58px;
  }
  .anim-1 {
    @include anim-base;
    animation-delay: 400ms;
  }
  .anim-2 {
    @include anim-base;
    animation-delay: 500ms;
  }
  .anim-3 {
    @include anim-base;
    animation-delay: 600ms;
  }
  .anim-4 {
    @include anim-base;
    animation-delay: 700ms;
    color: gray;
    margin-left: 2%;
    border-bottom: solid;
    padding-bottom: 6px;
    border-bottom-color: #99e2d0;
    width: 58px;
  }
  .anim-5 {
    @include anim-base;
    animation-delay: 800ms;
  }
  .anim-6 {
    @include anim-base;
    animation-delay: 900ms;
  }
  .anim-7 {
    @include anim-base;
    animation-delay: 1000ms;
  }
  .anim-8 {
    @include anim-base;
    animation-delay: 1100ms;
    color: gray;
    margin-left: 2%;
    border-bottom: solid;
    padding-bottom: 6px;
    border-bottom-color: #99e2d0;
    width: 58px;
  }
  .anim-9 {
    @include anim-base;
    animation-delay: 1200ms;
  }
  .anim-10 {
    @include anim-base;
    animation-delay: 1300ms;
  }
  .anim-11 {
    @include anim-base;
    animation-delay: 1400ms;
  }
}
