@-webkit-keyframes opa {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes opa {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@-webkit-keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

@-webkit-keyframes rool {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

@keyframes rool {
  from {
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
  }
  to {
    -webkit-transform: rotate(360deg);
            transform: rotate(360deg);
  }
}

.fadeOut {
  -webkit-animation: fade 1s forwards;
          animation: fade 1s forwards;
  -webkit-animation-delay: 2s;
          animation-delay: 2s;
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  background: #ff79d9;
  z-index: 9;
}

.fadeOut .loadcircle {
  color: #9356dc;
  -webkit-animation: rool 1s linear infinite;
          animation: rool 1s linear infinite;
  width: 60px;
  height: 60px;
}

.enter .anim {
  opacity: 0;
  -webkit-animation-name: opa;
          animation-name: opa;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 3000ms;
          animation-delay: 3000ms;
  color: gray;
  margin-left: 2%;
  border-bottom: solid;
  padding-bottom: 6px;
  font-size: 21px;
  border-bottom-color: #99e2d0;
  width: 58px;
}

.enter .anim-1 {
  opacity: 0;
  -webkit-animation-name: opa;
          animation-name: opa;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 3100ms;
          animation-delay: 3100ms;
}

.enter .anim-2 {
  opacity: 0;
  -webkit-animation-name: opa;
          animation-name: opa;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 3200ms;
          animation-delay: 3200ms;
}

.enter .anim-3 {
  opacity: 0;
  -webkit-animation-name: opa;
          animation-name: opa;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 3300ms;
          animation-delay: 3300ms;
}

.enter .anim-4 {
  opacity: 0;
  -webkit-animation-name: opa;
          animation-name: opa;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 3400ms;
          animation-delay: 3400ms;
  color: gray;
  margin-left: 2%;
  border-bottom: solid;
  padding-bottom: 6px;
  font-size: 21px;
  border-bottom-color: #99e2d0;
  width: 58px;
}

.enter .anim-5 {
  opacity: 0;
  -webkit-animation-name: opa;
          animation-name: opa;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 3500ms;
          animation-delay: 3500ms;
}

.enter .anim-6 {
  opacity: 0;
  -webkit-animation-name: opa;
          animation-name: opa;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 3600ms;
          animation-delay: 3600ms;
}

.enter .anim-7 {
  opacity: 0;
  -webkit-animation-name: opa;
          animation-name: opa;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 3700ms;
          animation-delay: 3700ms;
}

.enter .anim-8 {
  opacity: 0;
  -webkit-animation-name: opa;
          animation-name: opa;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 3800ms;
          animation-delay: 3800ms;
  color: gray;
  margin-left: 2%;
  border-bottom: solid;
  padding-bottom: 6px;
  font-size: 21px;
  border-bottom-color: #99e2d0;
  width: 58px;
}

.enter .anim-9 {
  opacity: 0;
  -webkit-animation-name: opa;
          animation-name: opa;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 3900ms;
          animation-delay: 3900ms;
}

.enter .anim-10 {
  opacity: 0;
  -webkit-animation-name: opa;
          animation-name: opa;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 4000ms;
          animation-delay: 4000ms;
}

.enter .anim-11 {
  opacity: 0;
  -webkit-animation-name: opa;
          animation-name: opa;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 4100ms;
          animation-delay: 4100ms;
}
/*# sourceMappingURL=anim.css.map */