@-webkit-keyframes opa {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes opa {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.enter .anim {
  opacity: 0;
  -webkit-animation-name: opa;
          animation-name: opa;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 300ms;
          animation-delay: 300ms;
  color: gray;
}

.enter .anim-1 {
  opacity: 0;
  -webkit-animation-name: opa;
          animation-name: opa;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 400ms;
          animation-delay: 400ms;
}

.enter .anim-2 {
  opacity: 0;
  -webkit-animation-name: opa;
          animation-name: opa;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 500ms;
          animation-delay: 500ms;
}

.enter .anim-3 {
  opacity: 0;
  -webkit-animation-name: opa;
          animation-name: opa;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 600ms;
          animation-delay: 600ms;
}

.enter .anim-4 {
  opacity: 0;
  -webkit-animation-name: opa;
          animation-name: opa;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 700ms;
          animation-delay: 700ms;
  color: gray;
}

.enter .anim-5 {
  opacity: 0;
  -webkit-animation-name: opa;
          animation-name: opa;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 800ms;
          animation-delay: 800ms;
}

.enter .anim-6 {
  opacity: 0;
  -webkit-animation-name: opa;
          animation-name: opa;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 900ms;
          animation-delay: 900ms;
}

.enter .anim-7 {
  opacity: 0;
  -webkit-animation-name: opa;
          animation-name: opa;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 1000ms;
          animation-delay: 1000ms;
}

.enter .anim-8 {
  opacity: 0;
  -webkit-animation-name: opa;
          animation-name: opa;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 1100ms;
          animation-delay: 1100ms;
  color: gray;
}

.enter .anim-9 {
  opacity: 0;
  -webkit-animation-name: opa;
          animation-name: opa;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 1200ms;
          animation-delay: 1200ms;
}

.enter .anim-10 {
  opacity: 0;
  -webkit-animation-name: opa;
          animation-name: opa;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 1300ms;
          animation-delay: 1300ms;
}

.enter .anim-11 {
  opacity: 0;
  -webkit-animation-name: opa;
          animation-name: opa;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
  -webkit-animation-delay: 1400ms;
          animation-delay: 1400ms;
}
/*# sourceMappingURL=anim.css.map */