@keyframes opa {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
@keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    visibility: hidden;
  }
}

@keyframes rool {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@mixin anim-base {
  opacity: 0;
  animation-name: opa;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}

.fadeOut {
  animation: fade 1s forwards;
  animation-delay: 2s;
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  background: white;
  z-index: 9;
  .loadcircle {
    animation: rool 1s linear infinite;
    width: 60px;
    height: 60px;
  }
}

.enter {
  .anim {
    @include anim-base;
    animation-delay: 3000ms;
    color: gray;
    margin-left: 2%;
    border-bottom: solid;
    padding-bottom: 6px;
    font-size: 21px;
    border-bottom-color: #99e2d0;
    width: 58px;
  }
  .anim-1 {
    @include anim-base;
    animation-delay: 3100ms;
  }
  .anim-2 {
    @include anim-base;
    animation-delay: 3200ms;
  }
  .anim-3 {
    @include anim-base;
    animation-delay: 3300ms;
  }
  .anim-4 {
    @include anim-base;
    animation-delay: 3400ms;
    color: gray;
    margin-left: 2%;
    border-bottom: solid;
    padding-bottom: 6px;
    font-size: 21px;
    border-bottom-color: #99e2d0;
    width: 58px;
  }
  .anim-5 {
    @include anim-base;
    animation-delay: 3500ms;
  }
  .anim-6 {
    @include anim-base;
    animation-delay: 3600ms;
  }
  .anim-7 {
    @include anim-base;
    animation-delay: 3700ms;
  }
  .anim-8 {
    @include anim-base;
    animation-delay: 3800ms;
    color: gray;
    margin-left: 2%;
    border-bottom: solid;
    padding-bottom: 6px;
    font-size: 21px;
    border-bottom-color: #99e2d0;
    width: 58px;
  }
  .anim-9 {
    @include anim-base;
    animation-delay: 3900ms;
  }
  .anim-10 {
    @include anim-base;
    animation-delay: 4000ms;
  }
  .anim-11 {
    @include anim-base;
    animation-delay: 4100ms;
  }
}
