section {
  background-color: rgb(247, 244, 244);
  width: 100%;
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  .title_section {
    align-items: left;
    align-items: left;
    justify-content: left;
    display: block;
    text-align: left;
    width: 79%;
    margin-left: -5%;
  }
}

.img {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background-size: 600px;
  background-repeat: no-repeat;
  height: 70%;
  width: 100%;
}

.box-card {
  max-width: 560px;
  display: flex;
  flex-direction: column;
  margin-bottom: 20px;
  width: 90%;
  h1 {
    font-size: 25px;
    margin-bottom: 0;
  }
  h2 {
    font-size: 13px;
    margin-bottom: 9px;
    margin-top: 5px;
  }

  .card {
    display: flex;
    flex-direction: column;
    margin: 10px 0;
    height: 250px;
    background-color: white;
    border-radius: 30px;
    justify-content: end;

    .img_1 {
      background-image: url("./images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
    }
    .img_2 {
      background-image: url("./images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
    }
    .img_3 {
      background-image: url("./images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
    }
    .img_4 {
      background-image: url("./images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
    }
    .img-txt {
      display: flex;
      flex-direction: unset;
      align-items: center;
      margin: 5px 0 0 10px;
      height: 50px;
      width: 100%;
      .title {
        width: 80%;
        text-align: left;
        margin-left: 20px;
      }
      p {
        display: flex;
        justify-content: right;
      }
    }
  }
}
.select-menu {
  margin-top: -100px;
  border-top-left-radius: 45px;
  border-top-right-radius: 45px;

  .select-menu_title {
    width: 100%;
    display: flex;
    justify-content: space-evenly;

    h1 {
      font-family: "shrikhandregular";
      font-size: 31px;
      margin-right: 20px;
    }
  }

  div {
    display: flex;
    flex-direction: row;
  }
  .btn_bottom {
    justify-content: center;
    margin: 65px 0 120px 0;
    a {
      font-size: 23px;
      padding: 20px 60px;
    }
  }
  .enter {
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    width: 100%;

    .box-menu {
      &:hover .price-menu {
        transform: translateX(-121px);
      }
      &:hover .check {
        transform: rotate(360deg);
      }

      overflow: hidden;
      justify-content: space-between;
      margin-bottom: 20px;
      margin-left: 1.4%;
      background: white;
      border-radius: 25px;
      box-shadow: 3px 4px 8px rgba(114, 114, 114, 0.479);
      width: 97%;

      .price-menu {
        transition: 300ms ease-in-out;
        margin-right: -121px;
        align-items: flex-end;
        flex-direction: row;
        .check-mark {
          justify-content: center;
          align-items: center;
          font-size: 50px;
          height: 100%;
          width: 105px;
          background: lawngreen;
          .check {
            transition: 300ms ease-in-out;
            filter: invert(100%);
          }
        }
      }
      /*elypsys*/

      div {
        margin-left: 10px;
        align-items: flex-start;
        flex-direction: column;

        h1 {
          font-family: "roboto";
          font-size: 20px;
          margin-bottom: 0;
        }
        h2 {
          font-family: "roboto";
          font-size: 18px;
          font-weight: 400;
          color: gray;
        }
        p {
          font-size: 22px;
          font-weight: bold;
          margin: 0 15px 20px 0;
        }
      }
    }
  }
}

@media screen and (min-width: 1200px) {
  section {
    .title_section {
      text-align: center;
      font-size: 38px;
      font-weight: 500;
      border-bottom: solid;
      border-bottom-color: gray;
      justify-content: center;
      align-items: center;
      display: flex;
      width: 374px;
      margin: 0 auto;
    }
  }
  .sec-side {
    height: 400px;
  }
  .select-menu {
    max-width: 1291px;
    .select-menu_title {
      justify-content: space-between;
      .check_b {
        margin-right: 2%;
      }
      h1 {
        margin-left: 2%;
        font-size: 50px;
      }
    }
  }
  .box-card {
    max-width: unset;
    margin-top: 26px;

    flex-direction: initial;
    justify-content: space-evenly;
    .card {
      width: 400px;
    }
  }
}
