section {
  background-color: #f7f4f4;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

section .title_section {
  -webkit-box-align: left;
      -ms-flex-align: left;
          align-items: left;
  align-items: left;
  -webkit-box-pack: left;
      -ms-flex-pack: left;
          justify-content: left;
  display: block;
  text-align: left;
  width: 79%;
  margin-left: -5%;
}

.img {
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  background-size: 600px;
  background-repeat: no-repeat;
  height: 70%;
  width: 100%;
}

.box-card {
  max-width: 560px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 20px;
  width: 90%;
}

.box-card h1 {
  font-size: 25px;
  margin-bottom: 0;
}

.box-card h2 {
  font-size: 13px;
  margin-bottom: 9px;
  margin-top: 5px;
}

.box-card .card {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 10px 0;
  height: 250px;
  background-color: white;
  border-radius: 30px;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
}

.box-card .card .new {
  border-radius: 3px;
  font-family: "roboto";
  font-weight: 100;
  right: 24px;
  top: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  background: #a5f3a5;
  color: green;
  padding: 1% 2%;
}

.box-card .card .img_1 {
  background-image: url("./images/restaurants/jay-wennington-N_Y88TWmGwA-unsplash.jpg");
  background-position-y: -151px;
  background-size: 565px;
}

.box-card .card .img_2 {
  background-image: url("./images/restaurants/stil-u2Lp8tXIcjw-unsplash.jpg");
  background-position-y: -255px;
  background-size: 565px;
}

.box-card .card .img_3 {
  background-image: url("./images/restaurants/toa-heftiba-DQKerTsQwi0-unsplash.jpg");
  background-position-y: -164px;
  background-position-x: -10px;
  background-size: 565px;
}

.box-card .card .img_4 {
  background-image: url("./images/restaurants/louis-hansel-shotsoflouis-qNBGVyOCY8Q-unsplash.jpg");
  background-size: 565px;
  background-position-y: -141px;
}

.box-card .card .img-txt {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: unset;
  -webkit-box-direction: unset;
      -ms-flex-direction: unset;
          flex-direction: unset;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 5px 0 0 10px;
  height: 50px;
  width: 100%;
}

.box-card .card .img-txt .title {
  width: 80%;
  text-align: left;
  margin-left: 20px;
}

.box-card .card .img-txt p {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: right;
      -ms-flex-pack: right;
          justify-content: right;
}

.select-menu {
  margin-top: -100px;
  border-top-left-radius: 45px;
  border-top-right-radius: 45px;
}

.select-menu .select-menu_title {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.select-menu .select-menu_title h1 {
  font-family: "shrikhandregular";
  font-size: 31px;
  margin-right: 20px;
}

.select-menu div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.select-menu .btn_bottom {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 65px 0 120px 0;
}

.select-menu .btn_bottom a {
  font-size: 23px;
  padding: 20px 60px;
}

.select-menu .enter {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 100%;
}

.select-menu .enter .box-menu {
  cursor: pointer;
  overflow: hidden;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-bottom: 20px;
  margin-left: 1.4%;
  background: white;
  border-radius: 25px;
  -webkit-box-shadow: 3px 4px 8px rgba(114, 114, 114, 0.479);
          box-shadow: 3px 4px 8px rgba(114, 114, 114, 0.479);
  width: 97%;
  /*elypsys*/
}

.select-menu .enter .box-menu:hover h2 {
  width: 60%;
  white-space: nowrap;
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
}

.select-menu .enter .box-menu:hover h1 {
  width: 80%;
  white-space: nowrap;
  max-width: 100%;
  text-overflow: ellipsis;
  overflow: hidden;
}

.select-menu .enter .box-menu:hover .price-menu {
  -webkit-transform: translateX(-121px);
          transform: translateX(-121px);
}

.select-menu .enter .box-menu:hover .check {
  -webkit-transform: rotate(360deg);
          transform: rotate(360deg);
}

.select-menu .enter .box-menu .price-menu {
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
  margin-right: -121px;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}

.select-menu .enter .box-menu .price-menu .check-mark {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 50px;
  height: 100%;
  width: 105px;
  background: #99e2d0;
}

.select-menu .enter .box-menu .price-menu .check-mark .check {
  -webkit-transition: 300ms ease-in-out;
  transition: 300ms ease-in-out;
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

.select-menu .enter .box-menu div {
  margin-left: 10px;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.select-menu .enter .box-menu div h1 {
  text-align: left;
  width: 100%;
  font-family: "roboto";
  font-size: 20px;
  margin-bottom: 0;
}

.select-menu .enter .box-menu div h2 {
  text-align: left;
  width: 100%;
  font-family: "roboto";
  font-size: 18px;
  font-weight: 400;
  color: gray;
}

.select-menu .enter .box-menu div p {
  font-size: 22px;
  font-weight: bold;
  margin: 0 15px 20px 0;
}

@media screen and (min-width: 1200px) {
  section .title_section {
    text-align: center;
    font-size: 38px;
    font-weight: 500;
    border-bottom: solid;
    border-bottom-color: gray;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 374px;
    margin: 0 auto;
  }
  .sec-side {
    height: 400px;
  }
  .select-menu {
    max-width: 1291px;
  }
  .select-menu .select-menu_title {
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .select-menu .select-menu_title .check_b {
    margin-right: 2%;
  }
  .select-menu .select-menu_title h1 {
    margin-left: 2%;
    font-size: 50px;
  }
  .box-card {
    width: 99%;
    max-width: unset;
    margin-top: 26px;
    -webkit-box-orient: initial;
    -webkit-box-direction: initial;
        -ms-flex-direction: initial;
            flex-direction: initial;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
  }
  .box-card .card {
    width: 400px;
    margin: 0 0.5%;
  }
}

@media screen and (min-width: 500px) {
  .select-menu .enter .box-menu:hover h1 {
    width: 100%;
  }
  .select-menu .enter .box-menu:hover h2 {
    width: 100%;
  }
}
/*# sourceMappingURL=section.css.map */