
header{
    position: sticky;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    box-shadow: 0px 3px 8px gray ;

    div {
        
        background-image: url("/style/images/logo/ohmyfood.png");
        background-repeat: no-repeat;
        background-size: 180px;
        background-position:center;
        height: 60px;
        width: 300px;
    }
}